/***余额**/
.my-balance{
	.balance_top{background:#ff8903;height:126px;color:#fff;padding:21px 16px;}
	.balance_top h3{font-size:14px;}
	.balance_top p{font-size: 48px;margin-top:5px;}
	.agreement h3{text-align:center;line-height:30px;font-size:14px;}
	.agreement{padding:0px 16px 20px;}
	.agreement p{text-indent:24px;font-size:13px;}
}
