.paid-plans{
    label i {display:inline-block;width:18px;height:18px;text-align:center;line-height:12px;color:#fff;vertical-align:middle;margin:-2px 2px 1px 0px;border:#999 1px solid; position:relative;}
    label i:after{
    	content:"";
    	position:absolute;
    	width:5px;
    	height:8px;
    	left:6px;
    	top:3px;
    	border-right:1px solid #fff;
    	border-bottom:1px solid #fff;
    	transform: rotate(45deg);
    	-webkit-transform: rotate(45deg);
    }
    input[type="radio"] {display:none;}
    input[type="radio"] + i {border-radius:50%;}
    input[type="radio"]:checked + i {background:#ff8903; border:none;}
    input[type="radio"]:disabled + i {border-color:#ccc;}
    input[type="radio"]:checked:disabled + i {background:#ccc;}
}
.paid-plans-li{
	.paid-plans-post{
		float:left;
		font-size: 13px;
        color: #999;
        height: 17px;
        overflow: hidden;
	}

	.list_view a{
		color: #999;
	}

   .mint-checkbox-label{
        opacity:0;
	}

	.mint-checklist-label{
		padding: 10px;
	}
}

.paid-plans .paid-plans-li{
	 li{
	 	height:auto;
	 }
	.list_word{
		padding-bottom:15px;
		padding-left:70px;
	}
}
.paid-plans .paid-plans-li .list_img{
		height:40px;
		width:40px;
		padding:16px 10px;
		box-sizing:border-box;
	}

.paid-plans .paid-plans-li li{
		background-color:#fff;
		border-bottom: none;
		margin-bottom:10px;
	}

.tip{
	position: absolute;
	top:10px;
	left:10px;
}